@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001f3f;
    --foreground: #000000;
  }
}

body {
  color: #ffffff;
  background: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 50;
}
/* Smooth transitions for all elements */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Fade-in effect for images */
.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Hover effects for list items */
.hover\:text-blue-500:hover {
  color: #3b82f6; /* Blue color */
}
